@model AddCarFormModel

<form method="post">
	<div class="form-group">
		<label asp-for="Brand"></label>
		<input /> asp-for="Brand" class="form-control"  placeholder="BMW, Mercedes, etc..."</input>
	</div>
</form>